<app-back-button title="Adicionar usuário"></app-back-button>

<ion-content>
  <app-photo-container></app-photo-container>

  <div class="form-container">
      <app-form [inputs]="formulario" (enviarParaPai)="receberValoresDoFormulario($event)"></app-form>
      <app-select [lista]="cursos$ | async" key="id" title="Cursos" valor="name" (valorFilho)="totalAPagar($event)"></app-select>
  </div>

  <div class="center">
    <ion-label class="sumPriceStyle">Total a pagar: {{total}}</ion-label>
  </div>

  <app-button-center (clicked)="adicionarUsuario()" [espacoTop]="15"></app-button-center>
</ion-content>
